# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
.devcontainer/
dbt_packages/
logs/
analyses/
macros/
models/
seeds/
snapshots/
tests/
dbt_project.yml
README.md

#target
target/
docs/graph.gpickle
docs/partial_parse.msgpack
docs/run_results.json
docs/semantic_manifest.json